<%= form_for (@tenant) , :html => { :class => "edit_post", :onsubmit => "return validate()" } do |f| %>
  <% if @tenant.errors.any? %>
    <div style="font-family: arial; color: #ff0000; font-size: 12px; width: 245px;">
      <% @tenant.errors.full_messages.each do |msg| %>
        <%= "* #{msg}" %>
      <% end %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :subdomain %><br />
    <%= f.text_field :subdomain %><label style="display: none; font-family: arial; color: #ff0000;" id="errormsg">* Please fill in the field with proper subdomain.</label>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<script>
  function validate(){
      if($('#tenant_subdomain').val()=="")
      {
          $("#errormsg").show();
          return false;
      }
      else
        return true
  }
</script>
